@using System.Globalization;

<td style="background-color:@color;">
    @if (@estado == "normal"||@estado == "eliminar")
        {
        @if (@tipoDatos[posicion].ToString() == "System.Decimal")
        {
            @prop.GetValue(@row, null).ToString().Replace(',', '.');
        } 
         else
        {
            @prop.GetValue(@row, null)
            ;
        }
    }else if (@estado == "editar")
    {

        if (posicion != 0)
        {
            if (@tipoDatos[posicion].ToString() == "System.Int32")
            {
                <input style=" width: 70px;" type="number" value="@prop.GetValue(@row, null)"  />
            }
            else if (@tipoDatos[posicion].ToString() == "System.Decimal")
            {
                var valor = @prop.GetValue(@row, null).ToString().Replace(',', '.');
                <input style="; width: 70px;" type="number" value="@valor.ToString().Replace(',', '.')"  lang="en-US" step="any" onkeydown="return /[0-9\,]|Backspace|Delete/.test(event.key)" />
            }

            else if (@tipoDatos[posicion].ToString() == "System.String")
            {

                <input size="24" type="text" value="@prop.GetValue(@row, null)"  />
            }
            else
            {
            }
        }
        else
        {
            @prop.GetValue(@row, null)
        }

    }
</td>


@code {
    [Parameter]
    [Required]
    public string estado { get; set; }

    [Parameter]
    [Required]
    public object row { get; set; }

    [Parameter]
    [Required]
    public int posicion { get; set; }

    [Parameter]
    [Required]
    public List<string> tipoDatos { get; set; }

    [Parameter]
    public string color { get; set; } = "white";

    public System.Reflection.PropertyInfo prop;

    protected override void OnParametersSet()
    {
        prop = @row.GetType().GetProperties()[posicion];
    }


}
