<table class="my-table-class">
    <thead>
        <tr>
            <th></th> <!-- columna para los botones de editar y eliminar -->

            @for (int i = 0; i < @headers.Count; i++)
            {
                <th>@headers[i]</th>
                @*@nombresDeTipos[i]*@
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @valoresActuales)
        {
            
            <span>@item</span>
        }
        @foreach (var row in @datos)
        {
            if (row == null )
            {
                continue; // saltar al siguiente elemento en el bucle si row es nulo
            }
            else
            {
                int index = @datos.IndexOf(row);
                

                <tr>
                    <td>
                        
                        @if (@index == @filaEditando)
                        {
                            <button class="my-button" @onclick="() => SaveEdit(row)"><i class="material-icons">done</i></button>
                            <button class="my-button" @onclick="() => CancelEdit()"><i class="material-icons">close</i></button>
                        }
                        else if (@index == @filaEliminando)
                        {
                            <button class="my-button" @onclick="() => SaveDelete(row)"><i class="material-icons">done</i></button>
                            <button class="my-button" @onclick="() => CancelDelete()"><i class="material-icons">close</i></button>
                        }
                        else{
                     
                            <button class="my-button" @onclick="() => EditRow(row,index)"><i class="material-icons">edit</i></button>
                            <button class="my-button" @onclick="() => DeleteRow(row,index)"><i class="material-icons">delete</i></button>
                        
                        }

                    </td>
                    @if(@index == @filaEditando){

                        @for (int i = 0; i < row.GetType().GetProperties().Length; i++)
                        {
                            @*
                            var prop = row.GetType().GetProperties();
                            @prop.GetValue(i)
                            if (@row.GetType().GetProperties()[i].GetValue(@row, null) != null)
                            {
                            <ColumnaParametrizada estado="@estado" row="@row" posicion="@i" tipoDatos="@nombresDeTipos" />
                            }*@
                            <ColumnaParametrizada color="#A5FF8B" estado="editar" row="@row" posicion="@i" tipoDatos="@nombresDeTipos" />

                        }
                    }
                    else if (@index == filaEliminando)
                    {

                        @for (int i = 0; i < row.GetType().GetProperties().Length; i++)
                        {
                            <ColumnaParametrizada color="#FFBFB1" estado="normal" row="@row" posicion="@i" tipoDatos="@nombresDeTipos" />

                        }
                    }
                    else
                    {
                        @for (int i = 0; i < row.GetType().GetProperties().Length; i++)
                        {
                            <ColumnaParametrizada  estado="normal" row="@row" posicion="@i" tipoDatos="@nombresDeTipos" />
                        }
                    }
                    
                </tr>
            }
            
        }


        
    </tbody>
</table>



@code {
    private int FilaPosicion=0;

    [Parameter]
    [Required]
    public List<string> headers { get; set; }

    [Parameter]
    [Required]
    public List<object> datos { get; set; }

    [Parameter]
    [Required]
    public string[] columnValidation { get; set; }

    public List<string?> nombresDeTipos =new List<string>();

    public int filaEditando=-1;
    public int filaEliminando=-1;

    List<string> valoresActuales = new List<string>();

    protected override void OnInitialized()
    {
    }

    protected override void OnParametersSet()
    {
        Type[] tiposDeDatos=null; 
        for (int i = 0; i < datos.Count; i++)
        {
            var fila = datos[i];
            tiposDeDatos = new Type[fila.GetType().GetProperties().Length];
            for (int j = 0; j < tiposDeDatos.Length; j++)
            {
                var propiedad = fila.GetType().GetProperties()[j];
                var tipo = propiedad.PropertyType;
                var tipoSubyacente = Nullable.GetUnderlyingType(tipo);
                if (tipoSubyacente != null && (tipoSubyacente.IsPrimitive || tipoSubyacente == typeof(decimal)))
                {
                    tiposDeDatos[j] = tipoSubyacente;
                }
                else 
                {
                    tiposDeDatos[j] = tipo;
                }
            }
        }
        nombresDeTipos = tiposDeDatos.Select(t => t.FullName).ToList();
    }

    private void SaveEdit(object row)
    {

        //headers.Clear();
        //datos.Clear();
    
        valoresActuales.Clear();
        var props = row.GetType().GetProperties();
        for (int i = 0; i < props.Length; i++)
        {
            valoresActuales.Add(props[i].GetValue(row).ToString());
        }
    }


    private void EditRow(object row, int index)
    {
        // aquí puedes obtener los datos de la fila y hacer algo con ellos, como mostrar un formulario de edición
        Console.WriteLine("Editando fila: " + row.ToString());

        filaEditando = index;
    }

    private void CancelEdit()
    {
        filaEditando = -1;
    }

    private void DeleteRow(object row, int index)
    {
        // aquí puedes obtener los datos de la fila y hacer algo con ellos, como confirmar la eliminación
        Console.WriteLine("Eliminando fila: " + row.ToString());
        filaEliminando = index;

    }




    private void SaveDelete(object row)
    {
       // headers.Clear();
       // datos.Clear();
        valoresActuales.Clear();
        var props = row.GetType().GetProperties();
        for (int i = 0; i < props.Length; i++)
        {
            valoresActuales.Add(props[i].GetValue(row).ToString());
        }
       
        // resto del código para eliminar la fila
    }

    private void CancelDelete()
    {
        filaEliminando = -1;
    }
}


<style>
    /* Estilos para la tabla */
    .my-table-class {
        border-collapse: collapse;
        font-size: 16px;
        line-height: 1.5;
        width: 100%;
    }

        /* Estilos para la fila */
        .my-table-class tr {
            border-bottom: 1px solid #ddd;
        }

        /* Estilos para la celda de botones */
        .my-table-class td:first-child {
            padding: 10px;
            text-align: center;
        }

            /* Estilos para los botones */
            .my-table-class td:first-child button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 24px;
                outline: none;
            }

                /* Estilos para el icono de editar */
                .my-table-class td:first-child button.edit i {
                    color: #2196f3;
                }

                /* Estilos para el icono de eliminar */
                .my-table-class td:first-child button.delete i {
                    color: #f44336;
                }

</style>